@font-face {
    font-family: LiberationSans;
    src: local("LiberationSans"), url(LiberationSans-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: LiberationSans;
    src: local("LiberationSans"), url(LiberationSans-Bold.ttf);
    font-weight: bold;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: LiberationSans;
}

body {
    background: #120925;
    color: #fff5ea;
    font-size: 1.5rem;
}
